<nz-page-header *ngIf="(query | async)?.data as data" [nzGhost]="false" nzBackIcon nzTitle="Сервис"
  nzSubtitle="Просмотр и редактирование деталей сервиса">
  <nz-page-header-content>
    <div>
      <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" nzLayout="vertical">
        <input type="hidden" hidden formControlName="id">
        <input type="hidden" hidden formControlName="regions">
        <div class="lg:grid lg:grid-cols-4 lg:gap-2">
          <nz-form-item>
            <nz-form-label nzFor="name" nzRequired>Название</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="name" id="name">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="description">Описание</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="description" id="description">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="categoryId" nzRequired>Категория</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="categoryId" id="categoryId">
                <nz-option *ngFor="let category of data.serviceCategories" [nzValue]="category.id"
                  [nzLabel]="category.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="personCapacity">Максимальная вместимость</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="personCapacity" id="personCapacity" [nzMin]="0" [nzMax]="100">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="baseFare" nzRequired>Базовый тариф</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="baseFare" id="baseFare" nzRequired [nzFormatter]="formatterPrice">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="perHundredMeters">За 100 метров</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="perHundredMeters" id="perHundredMeters" nzRequired
                [nzFormatter]="formatterPrice"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="perMinuteDrive">За минуту поездки</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="perMinuteDrive" id="perMinuteDrive" nzRequired
                [nzFormatter]="formatterPrice"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="perMinuteWait">За минуту ожидания</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="perMinuteWait" id="perMinuteWait" nzRequired
                [nzFormatter]="formatterPrice"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="prepayPercent">Процент предоплаты</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="prepayPercent" id="prepayPercent" nzRequired
                [nzFormatter]="formatterPercent" [nzParser]="parserPercent" [nzMax]="200" [nzMin]="0"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="minimumFee">Минимальный сбор</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="minimumFee" id="minimumFee" nzRequired [nzFormatter]="formatterPrice">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="roundingFactor">Фактор округления</nz-form-label>
            <nz-form-control nzErrorTip="Значение должно быть больше нуля и меньше 100">
              <nz-input-number formControlName="roundingFactor" id="roundingFactor" [nzMin]="0.01" [nzMax]="100"
                [nzFormatter]="formatterPrice">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="maximumDestinationDistance">Максимальное расстояние</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="maximumDestinationDistance" id="maximumDestinationDistance" nzRequired
                [nzFormatter]="formatterMeters" [nzParser]="parserMeters"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="searchRadius">Радиус поиска</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="searchRadius" id="searchRadius" nzRequired
                [nzFormatter]="formatterMeters" [nzParser]="parserMeters"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="paymentMethod">Способ оплаты</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="paymentMethod" id="paymentMethod">
                <nz-option *ngFor="let paymentMethod of paymentMethods" [nzValue]="paymentMethod"
                  [nzLabel]="paymentMethod">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="providerSharePercent" nzRequired>Процент доли провайдера</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="providerSharePercent" id="providerSharePercent" nzRequired
                [nzFormatter]="formatterPercent" [nzParser]="parserPercent" [nzMax]="100" [nzMin]="0"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="providerShareFlat" nzRequired>Фиксированная доля провайдера</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="providerShareFlat" id="providerShareFlat" nzRequired
                [nzFormatter]="formatterPrice"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="cancellationTotalFee" nzRequired>Общая плата за отмену</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="cancellationTotalFee" id="cancellationTotalFee" nzRequired
                [nzFormatter]="formatterPrice">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="cancellationDriverShare" nzRequired>Доля водителя при отмене</nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="cancellationDriverShare" id="cancellationDriverShare" nzRequired
                [nzFormatter]="formatterPrice">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-4">
            <nz-form-label nzRequired>Регионы</nz-form-label>
            <nz-form-control>
              <nz-tag *ngFor="let region of data.regions.nodes" nzMode="checkable"
                [nzChecked]="form.value.regions.indexOf(region.id) > -1" [nzBordered]="false"
                (nzCheckedChange)="handleRegionCheckChange($event, region)">
                {{ region.name }}
              </nz-tag>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Изображение</nz-form-label>
            <nz-form-control>
              <nz-upload [nzAction]="root + 'upload'" [nzHeaders]="{Authorization: 'Bearer ' + jwt}"
                (nzChange)="handleUploadChange($event)" [nzBeforeUpload]="beforeUpload" nzListType="picture-card"
                [nzShowUploadList]="false">
                <ng-container *ngIf="!avatarUrl">
                  <i class="upload-icon" nz-icon [nzType]="loadingUpload ? 'loading' : 'plus'"></i>
                  <div class="ant-upload-text">Загрузить</div>
                </ng-container>
                <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>

      <nz-card class="lg:col-span-4" nzTitle="Множитель времени суток">
        <ul nz-list [nzDataSource]="form.value.timeMultipliers" nzBordered>
          <li nz-list-item *ngFor="let item of form.value.timeMultipliers">
            <nz-tag>{{item.multiply}}x</nz-tag>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="removeTimeRule(item)">Удалить</a>
              </nz-list-item-action>
            </ul>
            {{ item.startTime }} - {{ item.endTime }}
          </li>
        </ul>
        <div class="md:grid md:grid-cols-3 md:gap-2 mt-2">
          <nz-form-item>
            <nz-form-label>Время начала</nz-form-label>
            <nz-form-control>
              <nz-time-picker #timeStartPicker nzPlaceHolder="Время начала"
                nzFormat="HH:mm" [(ngModel)]="timeStartValue"></nz-time-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Время окончания</nz-form-label>
            <nz-form-control>
              <nz-time-picker #timeEndPicker nzPlaceHolder="Время окончания"
                nzFormat="HH:mm" [(ngModel)]="timeEndValue"></nz-time-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Множитель</nz-form-label>
            <nz-form-control>
              <nz-input-number #timeMultiplyInput
                nzPlaceHolder="Множитель" [(ngModel)]="timeMultiplyValue"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <button nz-button nzType="primary" (click)="insertTimeRule()" class="float-right">Добавить правило</button>
      </nz-card>
      <nz-card class="lg:col-span-4 mt-2" nzTitle="Множитель расстояния">
        <ul nz-list [nzDataSource]="form.value.distanceMultipliers" nzBordered>
          <li nz-list-item *ngFor="let item of form.value.distanceMultipliers">
            <nz-tag>{{item.multiply}}x</nz-tag>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="removeDistanceRule(item)">Удалить</a>
              </nz-list-item-action>
            </ul>
            {{ item.distanceFrom }} - {{ item.distanceTo }}
          </li>
        </ul>
        <div class="md:grid md:grid-cols-3 md:gap-2 mt-2">
          <nz-form-item>
            <nz-form-label>Расстояние от</nz-form-label>
            <nz-form-control>
              <nz-input-number #distanceFromInput
                nzPlaceHolder="Расстояние от"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Расстояние до</nz-form-label>
            <nz-form-control>
              <nz-input-number #distanceToInput
                nzPlaceHolder="Расстояние до"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Множитель</nz-form-label>
            <nz-form-control>
              <nz-input-number #distanceMultiplyInput
                nzPlaceHolder="Множитель"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <button nz-button nzType="primary" (click)="insertDistanceRule()" class="float-right">Добавить правило</button>
      </nz-card>
      <nz-card class="lg:col-span-4 mt-2" nzTitle="Множители дней недели">
        <ul nz-list [nzDataSource]="form.value.weekdayMultipliers" nzBordered>
          <li nz-list-item *ngFor="let item of form.value.weekdayMultipliers">
            <nz-tag>{{item.multiply}}x</nz-tag>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="removeWeekdayRule(item)">Удалить</a>
              </nz-list-item-action>
            </ul>
            {{ item.weekday }}
          </li>
        </ul>
        <div class="md:grid md:grid-cols-3 md:gap-2 mt-2">
          <nz-form-item>
            <nz-form-label>День недели</nz-form-label>
            <nz-form-control>
              <nz-select #weekdaySelectInput nzPlaceHolder="День недели">
                <nz-option *ngFor="let weekday of Weekdays" [nzLabel]="weekday.label"
                  [nzValue]="weekday.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Множитель</nz-form-label>
            <nz-form-control>
              <nz-input-number #weekdayMultiplyInput
                nzPlaceHolder="Множитель"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <button nz-button nzType="primary" (click)="insertWeekdayRule()" class="float-right">Добавить правило</button>
      </nz-card>
      <nz-card class="lg:col-span-4 mt-2" nzTitle="Множитель диапазона дат">
        <ul nz-list [nzDataSource]="form.value.dateRangeMultipliers" nzBordered>
          <li nz-list-item *ngFor="let item of form.value.dateRangeMultipliers">
            <nz-tag>{{item.multiply}}x</nz-tag>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="removeDateRangeRule(item)">Удалить</a>
              </nz-list-item-action>
            </ul>
            {{ item.startDate | date:'yyyy-MM-dd' }} - {{ item.endDate | date:'yyyy-MM-dd' }}
          </li>
        </ul>
        <div class="md:grid md:grid-cols-3 md:gap-2 mt-2">
          <nz-form-item>
            <nz-form-label>Диапазон дат</nz-form-label>
            <nz-form-control>
              <nz-range-picker #dateRangePicker></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Множитель</nz-form-label>
            <nz-form-control>
              <nz-input-number #dateRangeMultiplyInput
                nzPlaceHolder="Множитель"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <button nz-button nzType="primary" (click)="insertDateRangeRule()" class="float-right">Добавить правило</button>
      </nz-card>
      <nz-card class="lg:col-span-4 mt-2" nzTitle="Предпочтения поездки">
        <nz-table #preferencesTable nzBordered nzShowPagination="false" [nzData]="data.serviceOptions">
          <thead>
            <tr>
              <th class="w-8"></th>
              <th>Название</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of preferencesTable.data">
              <td [nzChecked]="form.value.options?.includes(data.id) ?? false"
                (nzCheckedChange)="onItemChecked(data.id, $event)" class="w-8"></td>
              <td>
                <div class="flex flex-row group cursor-default">
                  <div class="flex items-center ml-2">
                    <div>
                      <div class="text-sm text-neutral-700 group-hover:text-neutral-900">
                        {{ data.name }}
                      </div>
                      <div class="text-sm text-neutral-400 group-hover:text-neutral-700">
                        {{ data.type }} • {{ data.icon }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
      <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="form.invalid" class="mt-2 right-0">Отправить</button>
    </div>
  </nz-page-header-content>
</nz-page-header>

<nz-card class="mt-2" nzTitle="Зона опасности" *ngIf="this.form.value?.id !== null">
  <div>
    <p class="text-lg leading-6 font-medium text-gray-900">Удалить</p>
    <p class="mt-2 max-w-xl text-sm text-gray-500">Обратите внимание на удаление</p>
    <button nz-button nzDanger class="mt-2" (click)="deleteService()">Удалить</button>
  </div>
</nz-card>